/* Medias Queries */

@media screen and (max-width: 75rem) {
    .card-1, .card-2 {
        width: 28.125rem !important;
        margin: 3.125rem 2.5rem !important;
    }
}

/* 800px */

@media screen and (max-width: 50rem) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* 768px */

@media screen and (max-width: 48rem) {
    .banner h1 {
        text-align: center;
    }
    .title {
        font-size: 3.125rem !important;
    }
    h1 {
        font-size: 2.5rem !important;
    }
}

/* max-width: 600px */

@media screen and (max-width: 37.5rem) {
    .openning-hour span {
        font-size: 0.8rem !important;
        font-weight: 600 !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
    h4 {
        padding-bottom: 0 !important;
    }
    .banner h2 {
        text-align: center;
    }
    .title {
        margin-top: 0 !important;
        font-size: 2.5rem !important;
    }
    .text {
        font-size: 1.1rem;
        padding: 1.25rem !important;
    }
    .card-1, .card-2 {
        width: 90vw !important;
        height: 80vh;
    }    
}

/* min-width: 600px */

@media only screen and (min-width: 37.5rem) {
    .banner {
        height: 90vh !important;
    }
    .button {
        margin-top: 0 !important;
    }
    .parallax-container {
        height: 85vh !important;
    }   
}

/* Openning Iformations */

.openning-hour {
    height: 5rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.openning-hour span {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--dark-green);
}

.openning-hour>span {
    margin: auto 2.5rem;
}

span.closed {
    color: var(--dark-gray);
}

/* Banner */

.banner {
    min-height: 80vh;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/bg-01.PNG") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    letter-spacing: 0.3rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.banner h2 {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Parallax */

.parallax-container {
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.parallax-container .parallax {
    overflow: hidden;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/IMG_0022.JPG"), no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.container>h2 {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: var(--white);
}

/* Cards */

.card {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--ligth-gray);
    border: none;
}

.card-1, .card-2 {
    background-color: var(--ligth-green);
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5rem;
    min-height: 45rem;
    width: 34.06rem;
    margin: 5rem auto;
    box-shadow: 1rem 1rem 1.25rem var(--dark-gray);
    transition: 0.5S;
}

.card-1 h4, .card-2 h4 {
    padding: 2rem;
    margin: 0;
    color: var(--dark-green);
    font-weight: 500;
}

.card-1 p, .card-2 p {
    padding: 3rem;
}

.card-1:hover, .card-2:hover {
    transform: scale(1.1);
}

/* Services */

.services {
    background-color: var(--ligth-gray);
    margin-top: 5rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.services .container .button {
    margin-top: 0;
}

.services .container>.center {
    color: var(--dark-green);
    font-size: 1.7rem;
    font-weight: 500;
}