/* Media Queries */

@media only screen and (max-width: 37.5rem) {
    /* Carousel */
    header .container>h1 {
        margin-top: 0;
        font-size: 2.5rem;
    }
    header .container>h2 {
        font-size: 1.25rem;
    }
    .section .title {
        margin-top: 0;
        font-size: 2.5rem;
    }

    .services-card > .services-text {
        padding-left: 0;
    }

    .differentials .differentials-card-1, 
    .differentials .differentials-card-2{
        width: 90vw;
    }

    div.differentials ul li{        
       font-size: .875rem ; 
       padding: 1rem;
    }

    .contact .container > h2 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 37.5rem) {
    div.differentials{
        margin-bottom: 0;
    }
    .certificates > h2{
        margin-top: 0;
    }

    div.contact{
        height: 21.875rem;
    }
    
}

@media only screen and (min-width: 35.5rem) {
    div.contact{
        height: 20rem;
    }
    
}

/* Header */

.button {
    text-align: center;
    margin: 0 auto;
}

.container>h2 {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
}

.container>h1 {
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 0.3rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}

/* Carousel Itens */

.carousel-fixed-item>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel .carousel-item.one {
    height: 80vh !important;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/serv/IMG_01.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.carousel .carousel-item.two {
    height: 80vh !important;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/serv/IMG_02.jpg") no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
}

.carousel .carousel-item.three {
    height: 80vh !important;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/serv/IMG_03.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.carousel .carousel-item.four {
    height: 80vh !important;
    background: linear-gradient(to right, #000000bb, #000000bb), url("../img/serv/IMG_04.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

/* Services */

.services-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.services-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    flex-wrap: wrap;
}

.services-img {
    flex: 1 1 20rem;
}

.services-img>img {
    width: 100%;
    border-radius: 5%;
    /* margin: 20px; */
}

.services-text {
    flex: 2 1 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5rem;
}

.services-text ul li {
    list-style: inside;
}

.partners {
    background-color: var(--ligth-gray) ;
}

/* Differentials */

.differentials {   
    margin-bottom: 3.75rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    
}

.differentials ul li{ 
    margin-top: .3125rem;   
    padding: 1.25rem;
    list-style: inside;
}

.differentials-card-1, .differentials-card-2 {    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 3.5rem;
    height: 38.25rem;
    width: 34.06rem;
    margin: 5rem auto;
    box-shadow: 1rem 1rem 1.25rem var(--dark-gray);
    transition: 0.5S;
    border: 3px solid var(--dark-green);    
}

.differentials-card-1:hover, .differentials-card-2:hover{
    transform: scale(1.1);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    background-color: var(--ligth-gray);       
}

.contact > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact > .container h2 {
    color: var(--dark-green)
}