@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
  --ligth-gray: #E9ECEF;
  --dark-gray: #6C757D;
  --background-gray: #DEE2E6;
  --ligth-green: #4CE397;
  --hover-green: #12A75C;
  --dark-green: #014E27;
  --white: #ffffff;
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;  
  overflow-x: hidden;
}

body {
  background: var(--background-gray); 
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Openning Iformations */

.openning-hour {
  height: 5rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.openning-hour span {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--dark-green);
}

.openning-hour>span {
  margin: auto 2.5rem;
}

/* Nav Bar */

.navbar {
  background-color: var(--ligth-green);
  padding-left: 20px;
  padding-right: 20px;
}

.nav-wrapper ul>li a {
  font-size: 1.2rem;
  color: var(--dark-green);
  font-weight: 500;
}

.nav-wrapper ul>li a:hover {
  color: var(--white);
}

.active {
  color: var(--white) !important;
}

/* Mobile Menu */

#nav-mobile {
  background-color: var(--ligth-green);
}

/* Banner */

.banner {
  height: 60vh;  
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000000bb, #000000bb), url("../img/bg-01.PNG") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.banner h1 {
  letter-spacing: 0.3rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;

}  

.banner h2 {
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* Button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  height: 4rem;
  width: 12rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--ligth-green);
  color: var(--dark-green);
  transition: color 0.3s;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.17rem;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--hover-green);
  color: var(--white);
  transform: scale(1.1);
}
.title {
  font-size: 4rem; 
  margin-top: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-green);
}

.divider{
  height: 0.3125rem;
  background-color: var(--dark-green);
  border-radius: 0.3125rem;
}
.text{
  color: var(--dark-green)
}
.parallax-container{
  height: 60vh;
  display: flex;
  align-items: center;
}

.parallax-container .parallax { 
  overflow: hidden;  
  background: linear-gradient(to right, #000000bb, #000000bb), url("../img/IMG_0022.JPG"), no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.container > h2 {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: var(--white);
}

/* Cards */
.card{
  width: 100vw;
  display: flex; 
   
  justify-content: space-between;
  background-color: var(--ligth-gray);
  border: none;
}
.card-1, .card-2{
  background-color: var(--ligth-green);
  justify-content: space-around;
  flex-direction: row;
  border-radius: 56px;
  height:612px;
  width: 546px;
  margin: 5rem auto;
  transition: 0.5S;
}
.card-1:hover,.card-2:hover{
  transform: scale(1.1);
}

/* Footer */
.page-footer {
  min-width: 100vw;
  background-color: var(--ligth-green); 
}

.page-footer h5, a{
  color: var(--dark-green);
}
