@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
  --ligth-gray: #E9ECEF;
  --dark-gray: #6C757D;
  --background-gray: #DEE2E6;
  --ligth-green: #4CE397;
  --hover-green: #12A75C;
  --dark-green: #014E27;
  --white: #ffffff;
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;
  overflow-x: hidden;
}

body {
  background: var(--background-gray);
}
strong{
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .footer-copyright span>a {
    margin-top: 5px;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Nav Bar */

.navbar {
  background-color: var(--ligth-green);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.nav-wrapper ul>li a {
  font-size: 1.2rem;
  color: var(--dark-green);
  font-weight: 500;
}

.nav-wrapper ul>li a:hover {
  color: var(--white);
}

.active {
  color: var(--white) !important;
}

/* Mobile Menu */

#nav-mobile {
  background-color: var(--ligth-green);
}

/* Button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  height: 4rem;
  width: 12rem;
  margin-top: 1rem;
  border: none;
  background-color: var(--ligth-green);
  color: var(--dark-green);
  transition: color 0.3s;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.17rem;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--hover-green);
  color: var(--white);
  transform: scale(1.1);
}

.title {
  font-size: 4rem;
  margin-top: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--dark-green);
}

.divider {
  height: 0.3125rem;
  background-color: var(--dark-green);
  border-radius: 0.3125rem;
}

.text {
  color: var(--dark-green)
}

/* Footer */

footer.page-footer {
  width: 100vw;
  margin-top: 0;
  padding: 0;
  background-color: var(--ligth-green);
}

.page-footer > *, a {
  color: var(--dark-green);
}

.social {
  margin-top: 2rem;
}

.social a img {
  margin-right: 1.2rem;
  transition: 0.2s;
}

.social a img:hover {
  transform: scale(1.2);
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-green) !important;
}

.footer-copyright span {
  margin: 0 2rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--white);
}

.footer-copyright span>a {
  color: var(--white)
}